<!-- 导航 TEB -->

<launch>
 <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find formation)/maps/map.yaml"/>

    <include file="$(find formation)/launch/amcl.launch" /> -->

  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen" clear_params="true">
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

    <rosparam file="$(find formation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find formation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find formation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find formation)/param/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find formation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find formation)/param/base_global_planner_params.yaml" command="load" />
    <rosparam file="$(find formation)/param/teb_local_planner_params.yaml" command="load" />
    <!-- <remap from = "/cmd_vel" to = "/no_use/cmd_vel"/> -->
  </node>

  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find formation)/param/rviz.rviz" output="screen"/> -->


</launch>
